<html>
    <header>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/static/js/google.charts.js"></script>
    </header>
    <body>
    <a href="/">[Home]</a>
    <h1>Voting Information</h1>
    <h2>Student ID: 2014223070030</h2>
    <h2>Name: Matrix</h2>
    <hr/>
    <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li> <strong>{{category}}:</strong> {{ message }}</li>
                {% endfor %}
            </ul>
            <hr/>
        {% endif %}
    {% endwith %}
    </div>
    <div>
        {% if not is_db_exist %}
        <h3>No data, please upload a csv file to your system.</h3>
        {% else %}
        <h3>Change system data by upload a new csv file.</h3>
        {% endif %}
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
    </div>
    <hr/>
    <div>
        <form action="/delete_data" method="post">
            <button>Delete System Data</button>
        </form>
    </div>
    <div>
        <p>Friut Fraction</p>
        <form name="fruit_fraction">
            <label for="fruit_number">fruit number:</label>
            <input type="text" name="number" id="fruit_number", placeholder="2">
            <label for="fruit_names">fruit names:</label>
            <input type="text" name="fruit_names" id="fruit_names", placeholder="apple,pear">
            <input type="button" value="Submit" onclick="draw_fruit_fraction()">
        </form>
        <div id="fruit_fraction" style="width: 95%"></div>
    </div>
    <hr/>
    <div>
        <p>Top N</p>
        <form name="top_n">
            <label for="top_number">fruit number:</label>
            <input type="text" name="top_number" id="top_number", placeholder="2">
            <input type="button" value="Submit" onclick="draw_top_n()">
        </form>
        <div id="top_n" style="width: 95%"></div>
    </div>
    <hr/>
    <div>
        <p>Scatter diagram</p>
        <form name="scatter_digram">
            <label for="low">Low:</label>
            <input type="text" name="low" id="low", placeholder="248">
            <label for="high">Low:</label>
            <input type="text" name="high" id="high", placeholder="250">
            <input type="button" value="Submit" onclick="draw_scatter_diagram()">
        </form>
        <div id="scatter_digram"></div>
    </div>
    <hr/>
    </body>
    <script>
        google.charts.load("current", {packages:['corechart']});
        
        function ajaxPost(url, data, callback) {
            // use ajax post data
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(data);

            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    callback(JSON.parse(xhr.responseText)['data']);
                }
            }
        }

        function ajaxGet(url, callback) {
            // use ajax get data
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.send();

            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    callback(JSON.parse(xhr.responseText)['data']);
                }
            }
        }

        function draw_fruit_fraction() {
            console.log("draw_fruit_fraction")
            fruit_number = parseInt(document.getElementById("fruit_number").value)
            fruit_names = document.getElementById("fruit_names").value
            data = {
                fruit_number: fruit_number,
                fruit_names: fruit_names
            }
            ajaxPost('/fruit_fraction', JSON.stringify(data), function(data) {
                console.log("hi, matrix")
                console.log(data)
                document.getElementById("fruit_number").value = ""
                document.getElementById("fruit_names").value = ""

                var data = google.visualization.arrayToDataTable(data);
                var options = {
                    title: 'Fruit Fraction',
                };
                var chart = new google.visualization.PieChart(document.getElementById('fruit_fraction'));
                chart.draw(data, options);
            })
        }

        function draw_top_n() {
            console.log("draw_top_n")
            top_number = parseInt(document.getElementById("top_number").value)
            data = {
                top_number: top_number
            }
            ajaxPost('/top_n', JSON.stringify(data), function(data) {
                console.log(data)
                document.getElementById("top_number").value = ""

                var data = google.visualization.arrayToDataTable(data);
                var view = new google.visualization.DataView(data);
                // annotation column
                view.setColumns([0, 1,
                                {   
                                    calc: "stringify",
                                    sourceColumn: 1,
                                    type: "string",
                                    role: "annotation"
                                },]);
                var options = {
                    title: "Top N",
                    legend: { position: "none" },
                };
                var chart = new google.visualization.ColumnChart(document.getElementById("top_n"));
                chart.draw(view, options);
            })
        }

        function draw_scatter_diagram() {
            console.log("draw_scatter")
            low = parseFloat(document.getElementById("low").value)
            high = parseFloat(document.getElementById("high").value)
            data = {
                low: low,
                high: high
            }
            console.log(data)
            ajaxPost('/draw_scatter_diagram', JSON.stringify(data), function(data) {
                console.log(data)
                document.getElementById("low").value = ""
                document.getElementById("high").value = ""

                var data = google.visualization.arrayToDataTable(data);
                var view = new google.visualization.DataView(data);
                // annotation column
                view.setColumns([0, 1,
                                {   
                                    calc: "stringify",
                                    sourceColumn: 1,
                                    type: "string",
                                    role: "annotation"
                                },]);
                var options = {
                    title: "Sactter diagram",
                    legend: { position: "none" },
                };
                var chart = new google.visualization.ColumnChart(document.getElementById("scatter_digram"));
                chart.draw(view, options);
            })
        }
        
    </script>
</html>
